<div class="tabs is-medium">
    <ul>
        <li {{#ifEquals activeTab "author"}}class="is-active"{{/ifEquals}}>
            <a href="/authors">Authors</a>
        </li>
        <li {{#ifEquals activeTab "country"}}class="is-active"{{/ifEquals}}>
            <a href="/countries">Countries</a>
        </li>
        <li {{#ifEquals activeTab "countryGroup"}}class="is-active"{{/ifEquals}}>
            <a href="/countryGroups">Country Groups</a>
        </li>
        <li {{#ifEquals activeTab "institution"}}class="is-active"{{/ifEquals}}>
            <a href="/institutions">Institutions</a>
        </li>
        <li {{#ifEquals activeTab "institutionGroup"}}class="is-active"{{/ifEquals}}>
            <a href="/institutionGroups">Institution Groups</a>
        </li>
    </ul>
 </div>