<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{{results.0.country.name}}</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.min.css">
</head>
<body>
	<div class="container">
		<div class="section columns">
			<div class="column is-6 is-offset-3">
                <div class="box">
                    {{#if results}}
                    <h2 class="title">{{results.0.country.name}}</h2>
                    <div class="columns">
                        {{> metrics metrics=results.0.metrics}}
                    </div>
                    {{else}}
                    <h2 class="title">Country not found</h2>
                    {{/if}}
                    <div><a href="/countries">Back to search</a></div>
				</div>
			</div>
		</div>
    </div>
</body>
</html>